<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cast.name %>
</p>

<p>
  <b>Info:</b>
  <%= @cast.info %>
</p>


<%= link_to 'Edit', edit_cast_path(@cast) %> |
<%= link_to 'Back', casts_path %>
