<div class = "showcast">
<p class = "casttitle"><%= @cast.name %></div>
</p>
    <p class = "listcast_title">List Drama:</p></br>
    <div class = "listcast">
    <% if admin_signed_in? then %>
                    <% listDr =[] %>
                    <% listDrama= @cast.cast_drama.sort_by{|a| a.drama.name.downcase} %>
                    <% listDrama.each do |a| %>
                        <li style = "font-size:1.3em;text-transform: capitalize;"><%= link_to a.drama.name ,a.drama %>
                        <% listDr = listDr + [a.drama] %>
                        <% if admin_signed_in? then %>
                            <%= link_to '⊕', a, :confirm => 'Are you sure?', :method => :delete, :cast_id => @cast.id %>
                        <% end %></li>
                        <br/>
                    <% end %>
                    <% if (Drama.all-listDr).length != 0 then %>
        			<%= form_for @cd  , :url => {:controller => "dramas", :action => "addcast" } do |f| %>
            			<div class="field">
                		<%= f.label :drama_id %>
                		<%= f.collection_select :drama_id, Drama.all-listDr, :id, :name %>
            			</div>
            			<div class="actions">
                		<%= f.hidden_field :cast_id ,:value => @cast.id  %>
                		<%= f.submit "Add Drama" %>
            		</div>
        			<% end %>
        			<% end %>
        			<br/>
        <% else %>
                <% listDrama= @cast.cast_drama.sort_by{|a| a.drama.name.downcase} %>
                <% listDrama.each do |a| %>
                    <% if a.drama!= nil %>
                        <li style = "font-size : 1.3em"> <%= link_to a.drama.name, a.drama %></li>
                        </br>
                    <% end %>
                <% end %>
        <% end %>
        </div>
</div>
