<h1>Listing dramas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Cast</th>
    <th>Info</th>
    <th>Rating</th>
    <th>Episode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dramas.each do |drama| %>
  <tr>
    <td><%= drama.name %></td>
    <% gr= Genre.find(drama.genre_id)  %>
    <td><%= gr.name %></td>
    <td><% listCast=drama.cast_drama %>
    	<% listCast.each do |a| %>
           
           <%= a.cast.name%> 
        <% end %>
	</td>	
    <td><%= drama.info %></td>
    <td><%= drama.rating %></td>
    <td><%= drama.episode %></td>
    <td><%= link_to 'Show', drama %></td>
    <td><%= link_to 'Edit', edit_drama_path(drama) %></td>
    <td><%= link_to 'Destroy', drama, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drama', new_drama_path %>
