<% if @check %>
<h1>Listing dramas</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Cast</th>
    <th>Info</th>
    <th>Rating</th>
    <th>Episode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dramas.each do |drama| %>
  <tr>
    <td><%= drama.name %></td>
    <% gr= drama.genre  %>
    <td><%= gr.name %></td>
    <td><% listCast=drama.cast_drama %>
    	<% listCast.each do |a| %>
            <%= link_to a.cast.name ,a.cast %>
            <%= link_to '⊕', a.cast, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
        </br>
        
        <% @cd.drama_id=drama.id %>
        <%= form_for @cd  , :url => { :action => "addcast" } do |f| %>
            <div class="field">
                <%= f.label :cast_id %>
                <%= f.collection_select :cast_id, Cast.all - drama.cast_list, :id, :name %>
            </div>
            <div class="actions">
                <%= f.hidden_field :drama_id ,:value => drama.id  %>
                <%= f.submit "Add Cast #{@cd.drama_id}" %>
            </div>
        <% end %>
        </br>
	</td>	
    
    <td><%= drama.info %></td>
    <td><%= drama.rating %></td>
    <td><%= drama.episode %></td>
    <td><%= link_to 'Show', drama %></td>
    <td><%= link_to 'Edit', edit_drama_path(drama) %></td>
    <td><%= link_to 'Destroy', drama, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drama', new_drama_path %>
<% end %>
