<div class="showdrama">
  <p class = "dramatitle">
      <%= @drama.name %>
    </p>
    
  <div class = "poster">
  		<% if @drama.picture_data == nil %>
  		<%= image_tag 'no_poster.jpg', :height => '100%'%>
  		<% else %>
  		<%= image_tag picture_drama_path(@drama), :height => '100%' %>
  		<% end %>
    </div>
    
  <div class = "dramainfo"> 
    <p>
      <strong>Rating:</strong>
      <%= @drama.rating %>
    </p>
    <p>
      <strong>Genre:</strong>
      <% gr= @drama.genre  %>
      <%= gr.name %>
    </p>
    <p>
      <strong>Episode:</strong>
      <%= @drama.episode %>
    </p>
    <p>
      <strong>View:</strong>
      <%= @drama.view %>
    </p>
    <p>
      <strong>Like:</strong>
      <%= @drama.like_num %>
    </p>


  </div>
  
  <p class = "title">Synopsis<p>
  <div class = "dramasynopsis">
    <p><%= @drama.info %>
    </p>
  </div>
  <p class = "title">Cast</p>  
	<div class = "dramacast">
     <p>  
        <% listCast=@drama.cast_drama %>
        <% listCast.each do |a| %>
                <p><%= link_to a.cast.name , a.cast  %></p>
         <% end %>
     </p>
 	 </div>  
	
	<p class = "title">Write your comment</p>  
	<div class = "postcomment">
    <%= form_for @cmt, :remote => :true, :url => {:controller => "comments" , :action => "new" , :method => :post} do |f| %>
            <div class="field">
                <%= f.text_area :comment, :class => "textarea_comment", :id => "text_area_comment" %>
            </div>
            <div class="actions">
                <%= f.hidden_field :drama_id ,:value => @drama.id  %>
                <% if user_signed_in? %>
                	<%= f.hidden_field :user_id ,:value => current_user.id  %>
                <% elsif admin_signed_in? %>
                	<%= f.hidden_field :admin_id ,:value => current_admin.id  %>
                <% end %>
                <%= f.submit "Post Comment", :class => "post_button" %>
            </div>
        <% end %>
	</div>
	<p class = "title" id = "comment_number"> <%= @drama.comment.length %> Comments </p>
	<div class = "comments" id = "all_comments" > <%= render 'comment_form' %> </div>
</div>
