<div class="showdrama">
  <p class = "dramatitle">
      <%= @drama.name %>
    </p>
    
  <div class = "poster">
  		<% if @drama.picture_data == nil %>
  		<%= image_tag 'no_poster.jpg', :height => '100%'%>
  		<% else %>
  		<%= image_tag picture_drama_path(@drama), :height => '100%' %>
  		<% end %>
    </div>
    
  <div class = "dramainfo"> 
    <p>
      <strong>Rating:</strong>
      <%= @drama.rating %>
    </p>
    <p>
      <strong>Genre:</strong>
      <% gr= @drama.genre  %>
      <%= gr.name %>
    </p>
    <p>
      <strong>Episode:</strong>
      <%= @drama.episode %>
    </p>
    <p>
      <strong>View:</strong>
      <%= @drama.view %>
    </p>
    <p>
      <strong>Like:</strong>
      <%= @drama.like_num %>
    </p>


  </div>
  
  <p class = "title">Synopsis<p>
  <div class = "dramasynopsis">
    <p><%= @drama.info %>
    </p>
  </div>

	<p class = "title">Cast</p>
	<% if @drama.cast_drama.length > 0 then %>  
		<div class = "dramacast">
     		<p><% listCast=@drama.cast_drama %>
    		<% listCast.each do |a| %>
           	<p><%= a.cast.name%></p> 
        	<% end %>
     		</p>
 	 	</div>
 	 <% end %>	  
  
  <p class = "title"><%= @drama.comment.length %> Comments<p>
  <% comments = @drama.comment %>
  <% cmtlength = comments.length %>
  <% if cmtlength > 0 then %>	
  	<div class = "comments">
  		<% for i in 0..cmtlength-1 do %>
  		  <% cmt = comments[cmtlength-1-i]%>
        	  <p id = "user_email">
        	  	#<%= i+1 %>. 
        	  	<%= User.find(cmt.user_id).email %> posted
        	  	<% if (Time.now-cmt.created_at).to_i <= 82800 then %>
        	  	<%= time_ago_in_words(cmt.created_at) %> ago
        	  	<% else %>
        	  	at <%= cmt.created_at%>
        	  	<% end %>
        	  	</p>
        	  	<p id = "user_comment">
        	  		<%= cmt.comment %>
        	  	</p>
      	<% end %>
  	</div>
  <% end %>	
	
	<p class = "title">Write your comment</p>  
	<div class = "postcomment">
    <%= form_for @cmt,:remote => true, :url => {:controller => "comments" , :action => "new" , :method => :post} do |f| %>
            <div class="field">
                <%= f.text_area :comment, :class => "textarea_comment" %>
            </div>
            <div class="actions">
                <%= f.hidden_field :drama_id ,:value => @drama.id  %>
                <% if user_signed_in? %>
                	<%= f.hidden_field :user_id ,:value => current_user.id  %>
                <% elsif admin_signed_in? %>
                	<%= f.hidden_field :admin_id ,:value => current_admin.id  %>
                <% end %>
                <%= f.submit "Post Comment", :class => "post_button" %>
            </div>
        <% end %>
	</div>
	
</div>
