<div class="showdrama">
  <p class = "dramatitle">
      <%= @drama.name %>
    </p>
  <div class = "poster">
    </div>
  <div class = "dramainfo"> 
    <p>
      <strong>Rating:</strong>
      <%= @drama.rating %>
    </p>
    <p>
      <strong>Genre:</strong>
    </p>
    <p>
      <strong>Episode:</strong>
      <%= @drama.episode %>
    </p>
  </div>
  <div class = "dramasynopsis">
    <center><p><strong>Synopsis</strong><p></center>
    <p><%= @drama.info %>
    </p>
  </div>
  <div class = "dramacast">
     <center><p><strong>Cast</strong></p></center>
  </div>
  <div class = "numberofcomments">
    <hr class = "left"></hr>
    <div class = "number"><p>Number of Comments<p></div>
    <hr class = "right"></hr>
  </div>
  <div class = "comments">
    <p>Comments</p>
  </div>
</div>  

<%= link_to 'Edit', edit_drama_path(@drama) %> |
<%= link_to 'Back', dramas_path %>
