<div class="showdrama">
  <p class = "dramatitle">
      <%= @drama.name %>
    </p>
   <div class = "drama_border"> 
  <div class = "poster">
  		<% if @drama.picture_data == nil %>
  		<%= image_tag 'no_poster.jpg', :height => '100%'%>
  		<% else %>
  		<%= image_tag picture_drama_path(@drama), :height => '100%' %>
  		<% end %>
    </div>
    
  <div class = "dramainfo"> 
    <p>
      <strong>Rating:</strong>
      <%= @drama.rating %>
    </p>
 
    <p>
      <strong>Episode:</strong>
      <%= @drama.episode %>
    </p>
    <p>
      <strong>View:</strong>
      <%= @drama.view %>
    </p>
    <p>
      <strong>Like:</strong>
      <span id = "like_number"> <%= @drama.like_num %></span>
    </p>
    <p id = "plusone_button"> <%= render 'like_form' %></p>
  </div>
  </div>
  <p class = "title">Synopsis<p>
  <div class = "dramasynopsis">
    <p><%= @drama.info %>
    </p>
  </div>
  <p class = "title">Cast</p>  
	<div class = "dramacast">
     
        <% if admin_signed_in? then %>
                    <% listCast=@drama.cast_drama.sort_by{|a| a.cast.name} %>
                    <% listCast.each do |a| %>
                        <li style = "font-size:1.2em;line-height:2em;"><%= link_to a.cast.name ,a.cast %>
                        <% if admin_signed_in? then %>
                            <%= link_to '⊕', a, :confirm => 'Are you sure?', :method => :delete %>
                        <% end %></li>
                    <% end %>
                    
        			
        			<%= form_for @cd  , :url => { :action => "addcast" } do |f| %>
        				<br/>
            			<div class="field">
                		<%= f.label :cast_id %>
                		<%= f.collection_select :cast_id, Cast.all - @drama.cast_list, :id, :name %>
            			</div>
            			<div class="actions">
                		<%= f.hidden_field :drama_id ,:value => @drama.id  %>
                		<%= f.submit "Add Cast" %>
            		</div>
        			<% end %>
        			<br/>
        <% else %>
            <p>  
            <% listCast=@drama.cast_drama %>
            <% listCast.each do |a| %>
                <p><%= link_to a.cast.name , a.cast  %></p>
            <% end %>
            </p>
        <% end %>
 	 </div>  
	
	<p class = "title">Write your comment</p>  
	<div class = "postcomment">
    <%= form_for @cmt, :remote => :true, :url => {:controller => "comments" , :action => "new" , :method => :post} do |f| %>
            <div class="field">
                <%= f.text_area :comment, :class => "textarea_comment", :id => "text_area_comment" %>
            </div>
            <div class="actions">
                <%= f.hidden_field :drama_id ,:value => @drama.id  %>
                <% if user_signed_in? %>
                	<%= f.hidden_field :user_id ,:value => current_user.id  %>
                <% elsif admin_signed_in? %>
                	<%= f.hidden_field :admin_id ,:value => current_admin.id  %>
                <% end %>
                <%= f.submit "Post Comment", :class => "post_button" %>
            </div>
        <% end %>
	</div>
	<p class = "title" id = "comment_number"> <%= @drama.comment.length %> Comments </p>
	<div class = "comments" id = "all_comments" > <%= render 'comment_form' %> </div>
</div>
