<div class="showdrama">
  <p class = "dramatitle">
      <%= @drama.name %>
    </p>
  <div class = "poster">
    </div>
  <div class = "dramainfo"> 
    <p>
      <strong>Rating:</strong>
      <%= @drama.rating %>
    </p>
    <p>
      <strong>Genre:</strong>
      <% gr= @drama.genre  %>
      <%= gr.name %>
    </p>
    <p>
      <strong>Episode:</strong>
      <%= @drama.episode %>
    </p>
  </div>
  <div class = "dramasynopsis">
    <center><p><strong>Synopsis</strong><p></center>
    <p><%= @drama.info %>
    </p>
  </div>
  <div class = "dramacast">
     <center><p><strong>Cast</strong></p></center>
     <p><% listCast=@drama.cast_drama %>
    	<% listCast.each do |a| %>
           <%= a.cast.name%> 
        <% end %>
     </p>
  </div>
  <div class = "numberofcomments">
    <hr class = "left"></hr>
    <div class = "number"><p>Number of Comments<p></div>
    <hr class = "right"></hr>
  </div>
  <div class = "comments">
      <% @drama.comment.each do |cmt|  %>
          <p><%= cmt.comment %></p><br>
      <% end %>
  </div>
</div>  
<div class = "postcomment">
    <%= form_for @cmt  , :url => {:controller => "comments" , :action => "new" , :method => :post} do |f| %>
            <div class="field">
                <%= f.label :comment %>
                <%= f.text_field :comment %>
            </div>
            <div class="actions">
                <%= f.hidden_field :drama_id ,:value => @drama.id  %>

                <%= f.hidden_field :user_id ,:value => current_user.id  %>

                <%= f.submit "Add Comment" %>
            </div>
        <% end %>
</div>
<%= link_to 'Edit', edit_drama_path(@drama) %> |
<%= link_to 'Back', dramas_path %>
