<!DOCTYPE html>
<html>
<head>
  <title>Dp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
    <div id="header">
      <h1><a href="/">Drama Comments</a></h1>
      <div>
         <ul class="hmenu">
      <% if user_signed_in? then %>
      			<p>Hi, <%= current_user.email %></p>
      			<li><%= link_to('Edit registration', edit_user_registration_path) %></li>
      			<li style = "color:white">|</li>
  				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  				<% if !current_page?(edit_user_registration_path) %>
  				<p>
				<li><%= link_to('Home', :controller => 'home' , :action => :index) %></li>
				<li style = "color:white">|</li>
				<li><%= link_to('List Dramas', :controller => 'dramas' , :action => :index) %></li>
				<li style = "color:white">|</li>
				<li><%= link_to('List Casts', :controller => 'casts' , :action => :index) %></li>
				</p>
				<% end %>
		<% elsif admin_signed_in? then%>	
      			<p>Hi, <%= current_admin.email %></p>
      			<li><%= link_to('Edit registration', edit_admin_registration_path) %></li>
      			<li style = "color:white">|</li>
  				<li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
  				<p>
				<li><%= link_to('Home', :controller => 'home' , :action => :index) %></li>
				<li style = "color:white">|</li>
				<li><%= link_to('List Dramas', :controller => 'dramas' , :action => :index) %></li>
				<li style = "color:white">|</li>
				<li><%= link_to('List Casts', :controller => 'casts' , :action => :index) %></li>
				</p>
		<% end %>
		</ul>
		</div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div id="main">
        <%= yield %>
      </div>
      <div id="footer"
            <p><center>Copyright &copy; HUSTMAN @ KEIO UNIVERSITY 2012</center></p>
      </div>
    </div>    
  </div>
</body>
</html>
