<div class = "mainpage">
	<div class = "toptable">
    <table class = "topten" id = "mostplusone">
    	<tr id = "0">
			<th >Most +1 Drama</th>
		</tr>
        <% for i in 0..9 %>
		<tr id = <%= "#{i}"  %> >
            <% if i<@dramas_sort_like.length %>
            <% drama= @dramas_sort_like[i] %>
                <td><%= link_to drama.name, drama %></td>
            <% else %>
                <td>**</td>
            <% end %>
		</tr>
        <% end %>
	</table>
	<table class = "topten" id = "mostviewed">
		<tr id = "0">
			<th >Most Viewed Drama</th>
		</tr>
		<% for i in 0..9 %>
		<tr id = <%= "#{i}"  %> >
            <% if i<@dramas_sort_view.length %>
            <% drama= @dramas_sort_view[i] %>
                <td><%= link_to drama.name, drama %></td>
            <% else %>
                <td>**</td>
            <% end %>
		</tr>
        <% end %>
	</table>
	<table class = "topten" id = "mostcommented">
		<tr id ="0">
			<th >Most Commented Drama</th>
		</tr>
		<% for i in 0..9 %>
		<tr id = <%= "#{i}"  %> >
            <% if i<@dramas_sort_comment.length %>
            <% drama= @dramas_sort_comment[i] %>
                <td><%= link_to drama.name, drama %></td>
            <% else %>
                <td>**</td>
            <% end %>
		</tr>
        <% end %>
	</table>
	</div>
	<div class = "randomdrama">
	  <div> 
	    </div>
        <table class = "random">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Cast</th>
                <th>Info</th>
                <th>Rating</th>
                <th>Episode</th>
                <th>Like</th>
                <th>Comment</th>
                <th>View</th>
                <th></th> 
            </tr>
            <% @dramas.each do |drama| %>
              <tr>
                <td><%= link_to drama.name, drama %></td>
                <% gr= drama.genre  %>
                <td><%= gr.name %></td>
                <td>
                    <% listCast=drama.cast_list %>
                        <% listCast.each do |a| %>
                        <%= link_to a ,'showinfo' %>
                    <% end %>
                    </br>
                </td>   
    
                <td><%= drama.info %></td>
                <td><%= drama.rating %></td>
                <td><%= drama.episode %></td>
                <td><%= drama.like_num  %></td>
                <td><%= drama.comment.length  %></td>
                <td><%= drama.view %></td>
                <!-- <td>
                <% if drama.is_like(current_user.id) %>
                    <%= link_to '-1', :controller => "dramas", :action => "like", :id => drama%>
                <% else %>
                    <%= link_to '+1', :controller => "dramas", :action => "like", :id => drama%>
                <% end %>
                </td> -->
                <td>
                <% if drama.is_like(current_user.id) %>
                    <%= link_to '-1', :controller => "dramas", :action => "like", :id => drama, :remote => true %>
                <% else %>
                    <%= link_to '+1', :controller => "dramas", :action => "like", :id => drama, :remote => true %>
                <% end %>
                </td>
              </tr>
            <% end %>
        </table>
	</div>
</div>	
