<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @film.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @film.genre_id %>
</p>

<p>
  <b>Info:</b>
  <%= @film.info %>
</p>

<p>
  <b>Rating:</b>
  <%= @film.rating %>
</p>

<p>
  <b>Episode:</b>
  <%= @film.episode %>
</p>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
